$primary: #862086;
$secondary: #01b8a9;
$body-bg-color: #f2f3f8;

$white: #fff;

$link: #6c7293;
$link-light: #d6d4dc4f;

$danger: #b94a48;
$heading: #434349;

$nav-active: #1b1a1a;
$nav-bg: #242838;
$nav-item: #c0c4d1;
$nav-badge: #e1422c;

$range-bg: #dee2e6;
$divider: 1px solid rgba(0, 0, 0, 0.125);

$deep-shdadow: rgba(82, 63, 105, 0.15);
$light-shadow: rgba(82, 63, 105, 0.1);
