@import '../styles/colors';

.report {
  h4 {
    color: $heading;
  }

  &__multi-select {
    .multiselect-parent {
      width: 100%;
      
      div {
        width: 100%;
      }
    }

    ul {
      border: 0;
      border-radius: 0.5rem;
      box-shadow: 0 0 50px 0 $deep-shdadow;

      .dropdown-header {
        border-bottom: $divider;
        border-top: $divider;
        margin: 0.5rem 0 !important;
        padding-bottom: 0.75rem !important;
        padding-top: 0.75rem !important;
      }

      li {
        padding: 0 1rem !important;

        &:nth-child(4) {
          padding: 0 !important;
        }
      }

      .searchField {
        width: auto !important;
      }
    }
  }

  &__chart {
    height: 600px;
    margin: 0 auto;
  }
}
