<!-- Dashboard View -->
<navbar title="Dashboard"></navbar>
<div class="dashboard container-fluid px-4 py-3">

    <div class="row" >
      <div class="col-sm-12">
          <div class="panel-primary panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title"><strong>Dynamic forms</strong></h3>
              </div>

              <div class="panel-body jsf">
                <jsonforms schema="vm.schema" ui-schema="vm.uiSchema" data="vm.data"/>
              </div>
              <div class="panel-body">
                <form name="userFormTwo" novalidate>
                  <div class="accordion" id="accordionExample" ng-repeat="(user,value) in vm.data2">
                    <div class="card">
                      <div class="card-header" id={{'heading'+user}}>
                        <h2 class="mb-0 trigger" data-toggle="collapse" data-target={{'#collapse'+user}} aria-expanded="true" aria-controls={{'#collapse'+user}}>
                          <button class="btn btn-link" type="button" >
                            {{user}}
                          </button>
                        </h2>
                      </div>
                  
                      <div id={{'collapse'+user}} class="collapse" aria-labelledby={{'heading'+user}} data-parent="#accordionExample">
                        <div class="card-body">
                          <ng-form name="userFieldForm">
                            <div class="form-row">
                              <div class="form-group col-md-4">
                                <label>pinType</label>
                                <input type="string" class="form-control" name="pinType" ng-model="vm.data2[user].pinType" required>
                              </div>
                              <div class="form-group col-md-4">
                                <label>ignoreTile</label>
                                <input type="string" class="form-control" name="ignoreTile" ng-model="vm.data2[user].ignoreTile" required>
                              </div>
                              <div class="form-group col-md-4">
                                <label>TagType</label>
                                <input type="string" class="form-control" name="tagType" ng-model="vm.data2[user].tagType" required>
                              </div>
                              <div class="form-group col-md-4">
                                <label>tag</label>
                                <input type="string" class="form-control" name="tag" ng-model="vm.data2[user].tag" required>
                              </div>
                              <div class="form-group col-md-4">
                                <label>uom</label>
                                <input type="string" class="form-control" name="uom" ng-model="vm.data2[user].uom" required>
                              </div>
                              <div class="form-group col-md-4">
                                <label>binary</label>
                                <input type="string" class="form-control" name="binary" ng-model="vm.data2[user].binary" required>
                              </div>
                              <div class="form-group col-md-4">
                                <label>multiplier</label>
                                <input type="string" class="form-control" name="multiplier" ng-model="vm.data2[user].multiplier" required>
                              </div>
                              <div class="form-group col-md-4">
                                <label>Low</label>
                                <input type="number" class="form-control" name="low" ng-model="vm.data2[user].low" required>
                              </div>
                              <div class="form-group col-md-4">
                                <label>High</label>
                                <input type="number" class="form-control" name="high" ng-model="vm.data2[user].high" required>
                              </div>
                              <div class="form-group col-md-4">
                                <label>Index</label>
                                <input type="number" class="form-control" name="index" ng-model="vm.data2[user].index" required>
                              </div>
                            </div>
                          </ng-form>  
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
          </div>
      </div>
  </div>
  
  <div class="row">
    <div class="col">       
      <div class="card mt-3 mb-4">
        <div class="card-body">
          <h5 class="card-title">
            Asset Details
            <spinner ng-if="vm.loader"></spinner>
          </h5>
          <input
            type="text"
            ng-model="vm.assetSearch"
            ng-disabled="vm.loader"
            class="form-control my-3"
            placeholder="Search"
          />
          <div class="table-responsive" ng-if="vm.sensorList.length">
            <table class="table table-hover incosa__table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Serial</th>
                  <th>Rated Voltage</th>
                  <th>Rated Capacity</th>
                  <th>RC Manufacturer</th>
                  <th>RC Part No</th>
                  <th>Hoist Count</th>
                  <th>Controller Count</th>
                  <th>State</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  role="button"
                  ng-click="vm.sensorDisplay(sensor)"
                  class="incosa__table-row incosa__table-row--clickable"
                  dir-paginate="sensor in vm.sensorList | filter:vm.assetSearch | itemsPerPage:10 "
                  pagination-id="assets"
                >
                  <td>{{ sensor.attributes.Name }}</td>
                  <td>{{ sensor.attributes.SerialNo }}</td>
                  <td>{{ sensor.attributes['Rated Voltage'] }}</td>
                  <td>{{ sensor.attributes['Rated Capacity'] }}</td>
                  <td>{{ sensor.attributes['Radio Control Manufacture'] }}</td>
                  <td>{{ sensor.attributes['Radio Control Part Number'] }}</td>
                  <td>{{ sensor.attributes['Number of Hoists'] }}</td>
                  <td>{{ sensor.attributes['Number of Controllers'] }}</td>
                  <td>ON</td>
                </tr>
              </tbody>
            </table>
            <dir-pagination-controls
              pagination-id="assets"
              max-size="10"
              direction-links="true"
              boundary-links="true"
            >
            </dir-pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
