<!-- Config View -->
<navbar title="Config"></navbar>
<div class="config container-fluid px-4 py-3">
    <div class="row d-flex align-items-end">
      <div class="col">
        <h5>Select json file</h5>
        <input type="file" on-read-file="showContent($fileContent)" />
      </div>
      <spinner ng-if="vm.loader"></spinner>

      <div class="col" ng-if="content">
        <button class="btn btn-primary" ng-click="vm.downloadResponseAsInfoFile()">Download</button>
      </div>
    </div>

    <div class="row" >
      <div class="col-sm-12" ng-if="content">
          <div class="panel-primary panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title"><strong>Dynamic forms</strong></h3>
              </div>

              <div class="panel-body jsf">
                <jsonforms schema="vm.schema" ui-schema="vm.uiSchema" data="vm.data"/>
              </div>
              <div class="panel-body">
                <form name="userFormTwo" novalidate>
                  <div class="accordion" id="accordionExample" ng-repeat="(user,value) in vm.data2">
                    <div class="card">
                      <div class="card-header" id={{'heading'+user}}>
                        <h2 class="mb-0 trigger" data-toggle="collapse" data-target={{'#collapse'+user}} aria-expanded="true" aria-controls={{'#collapse'+user}}>
                          <button class="btn btn-link" type="button" >
                            {{user}}
                          </button>
                        </h2>
                      </div>
                  
                      <div id={{'collapse'+user}} class="collapse" aria-labelledby={{'heading'+user}} data-parent="#accordionExample">
                        <div class="card-body">
                          <ng-form name="userFieldForm">
                            <div class="form-row">
                              <div class="form-group col-md-4">
                                <label>pinType</label>
                                <input type="string" class="form-control" name="pinType" ng-model="vm.data2[user].pinType" required>
                              </div>
                              <div class="form-group col-md-4">
                                <label>ignoreTile</label>
                                <input type="string" class="form-control" name="ignoreTile" ng-model="vm.data2[user].ignoreTile" required>
                              </div>
                              <div class="form-group col-md-4">
                                <label>TagType</label>
                                <input type="string" class="form-control" name="tagType" ng-model="vm.data2[user].tagType" required>
                              </div>
                              <div class="form-group col-md-4">
                                <label>tag</label>
                                <input type="string" class="form-control" name="tag" ng-model="vm.data2[user].tag" required>
                                <small class="text-muted">
                                  {{vm.data.id}} must be the prefix. Refrain from editing the prefix.
                                </small>
                              </div>
                              <div class="form-group col-md-4">
                                <label>uom</label>
                                <input type="string" class="form-control" name="uom" ng-model="vm.data2[user].uom" required>
                              </div>
                              <div class="form-group col-md-4">
                                <label>binary</label>
                                <input type="string" class="form-control" name="binary" ng-model="vm.data2[user].binary" required>
                              </div>
                              <div class="form-group col-md-4">
                                <label>multiplier</label>
                                <input type="string" class="form-control" name="multiplier" ng-model="vm.data2[user].multiplier" required>
                              </div>
                              <div class="form-group col-md-4">
                                <label>Low</label>
                                <input type="number" class="form-control" name="low" ng-model="vm.data2[user].low" required>
                              </div>
                              <div class="form-group col-md-4">
                                <label>High</label>
                                <input type="number" class="form-control" name="high" ng-model="vm.data2[user].high" required>
                              </div>
                              <div class="form-group col-md-4">
                                <label>Index</label>
                                <input type="number" class="form-control" name="index" ng-model="vm.data2[user].index" required>
                              </div>
                            </div>
                          </ng-form>  
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

              <div class="row" >
                <div class="col">
                  <button class="btn btn-primary" ng-click="vm.downloadResponseAsInfoFile()">Download</button>
                </div>
              </div>
          </div>
      </div>
  </div>

</div>
