<!DOCTYPE html>
<html ng-app="incosa">
  <head>
    <title>Incosa Solutions</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"
    />
    <meta name="author" content="Incosa Solutions" />
    <meta name="theme-color" content="#4fc1e9" />
    <meta name="msapplication-navbutton-color" content="#4fc1e9" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#4fc1e9" />
    <link rel="shortcut icon" href="./assets/fav.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="<%= css %>" />

    <base href="/" />
  </head>

  <body class="incosa">
    <sidenav ng-if="!login"></sidenav>
    <main ng-class="{'incosa-container':!login}" id="incosa-container">
      <div ng-view></div>
    </main>
    <script src="<%= js %>"></script>
    <script src="<%= template %>"></script>
  </body>
</html>
